#billet {
  margin-top: 30px;
  text-align: center;

}

.bloc {
  display: inline-block;
  position: center;
  margin-right: 5px;

}
.bloc-b {
  text-align: center;
}

.content {
  text-align: center;

}
