<div id="billet">
  <form>
  <div  class="bloc">
    <mat-form-field appearance="fill">
      <mat-label>Départ de</mat-label>
      <mat-select name="departure" [(ngModel)]="departure" >
        <mat-option *ngFor="let vols of Airport" [value]="vols.name">
          {{vols.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="bloc">
    <mat-form-field appearance="fill">
      <mat-label>Arrivée à</mat-label>
      <mat-select name="arrival" [(ngModel)]="arrival" >
        <mat-option *ngFor="let vols of Airport" [value]="vols.name">
          {{vols.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="bloc">
    <mat-form-field appearance="fill">
      <mat-label>Date de voyage</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="bloc">
    <mat-form-field appearance="fill">
      <mat-label>Cabine</mat-label>
      <mat-select name="arrival">
        <mat-option *ngFor="let cabine of Cabine"  [value]="cabine.value">
          {{cabine.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </form>
  <div class="bloc-b">
    <button mat-stroked-button color="primary" (click)="search()">Rechercher</button>
  </div>


  <div class="bloc-b" *ngFor="let t of vols">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-stepper orientation="vertical">
          <mat-step>
            <ng-template matStepLabel>Départ: {{t[0].departure }}</ng-template>
            <ng-template matStepContent>
              <p>Prix : {{t[0].base_price }}</p>
              <p>Nom : {{t[0].plane.name}}</p>
              <p>Sièges disponibles : {{t[0].plane.total_seats}}</p>
            </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Arrivée : {{t[0].arrival}}</ng-template>
          </mat-step>
        </mat-stepper>

      </mat-card-content>
      <mat-card-actions>
        <!--
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        -->
      </mat-card-actions>
    </mat-card>

  </div>

</div>

