.example-card {
  max-width: 60%;
  text-align: center;
  margin-left: 18%;
  margin-top: 10px;
  box-shadow: blue;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
